@keyframes fadeInDown {
    from {
      opacity: 0;
      -webkit-transform: translate3d(0, -100%, 0);
      transform: translate3d(0, -100%, 0);
    }
  
    to {
      opacity: 1;
      -webkit-transform: none;
      transform: none;
    }
}
  
.fadeInDown {
    -webkit-animation-name: fadeInDown;
    animation-name: fadeInDown;
}

.animated {
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

* {
    box-sizing: border-box;
    text-decoration: none;
    outline: none !important;
}
  
html {
    scroll-behavior: smooth;
}
  
body {
    margin: 0;
    padding: 0;
    font-family: "Lato", sans-serif;
    font-size: 14px;
    line-height: 1.618em;
    background: #78909c;
    color: #424242;
}
  
a {
    cursor: pointer;
    transition: .25s all;
}
  
img {
    width: 100%;
}
  
.container {
    display: inline-block;
    margin: 0 auto;
    margin-top: 50px;
    width: 95%;
}
  
.container h2 {
    margin: 0 auto;
    font-size: 3em;
    line-height: 1.618em;
    color: #eceff1;
    padding-top: 25px;
}
  
#portfolio {
    margin-bottom: 50px;
    text-align: center;
}
  
#portfolio .wrap {
    display: inline-block;
    margin-top: 15px;
    background: #263238;
    text-align: left;
    box-shadow: 0 2px 2px 2px rgba(0, 0, 0, .05);
    border-radius: 12px;
}

#portfolio .wrap2 {
    display: inline-block;
    margin: 15px 20px;
    background: #eceff1;
    text-align: left;
    border-radius: 12px;
}
  
#portfolio .wrap:first-of-type {
    margin-top: 0;
}
  
#portfolio .image {
    line-height: 0;
}
  
#portfolio .caption {
    padding: 10px 30px;
}
  
#portfolio h3 {
    margin: 0;
    padding-top: 20px;
    font-size: 2em;
    line-height: 1.75em;
}

#portfolio p {
    margin: 0;
    font-size: 1.5em;
    padding-top: 15px;
    padding-bottom: 15px;
    line-height: 1.75em;
}
  
#portfolio .button {
    display: inline-block;
    margin: 15px 0 15px;
    padding: 5px 15px;
    line-height: 35px;
    background: #2ebf91;
    color: #eceff1;
    border-radius: 25px;
    box-shadow: 0 5px #228c6a;
    transition: .15s all;
}
  
#portfolio .button:hover {
    background: #b0bec5;
    color: #263238;
    box-shadow: 0 5px #90a4ae;
    transition: .15s all;
}
  
#portfolio .button:active {
    margin: 20px 0 10px;
    box-shadow: none;
}

#portfolio .image,#portfolio .caption {
    float: left;
    width: 50%;
}

@media screen and (max-width: 800px) {
    body {
      font-size: 16px;
    }
  
    .container {
      width: 90%;
    }

    #portfolio h2 {
        margin: 0;
        font-size: xx-large;
    }

    #portfolio h3 {
        margin: 0;
        padding-top: 10px;
        font-size: x-large;
    }

    #portfolio p {
        margin: 0;
        font-size: small;
    }

    #portfolio .wrap {
      border-radius: 10px;
    }

    #portfolio .wrap2 {
        border-radius: 10px;
    }

    #portfolio .image,
    #portfolio .caption {
      width: 100%;
    }
  
} 
